p {
    margin-bottom: 0em;
}

p + p, p + video {
    margin-top: 1em;
}

p + ul , p + ol {
    margin-top: 0px;
}

li > ul, li > ol, li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.important {
    background-color: #FFA;
    border: 1px solid #DD8;
}

div.tip, div.hint {
    background-color: #DFD;
    border: 1px solid #BDB;
}

div.warning, div.caution, div.attention {
    background-color: #FB8;
    border: 1px solid #D96;
}

div.admonition-todo {
    background-color: #DDF;
    border: 1px solid #BBD;
}

div.admonition-take-home-message {
    background-color: #AFD;
    border: 1px solid #8DB;
}

div.command-line pre::before {
    content: "$ ";
}

code.command-line::before {
    content: "$ ";
}

body{
    font-family:Georgia, "Bitstream Charter", "URW Bookman L", serif;
}

table.no-border {
    box-shadow: initial;
    border: none;
}

table.no-border td, table.no-border th {
    border: none;
}
